<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
<a href="/">home</a>-----
<h1>This is is the Goose Details:</h1>

Name: <%=goosedetail[0].name%><br>
Color: <%=goosedetail[0].color%><br>
Date Added: <%=goosedetail[0].date%><br>
</body>

</html>